:root{
    --color-orange:hsl(31, 77%, 52%);
    --color-blue:hsl(184, 100%, 22%);
    --color-dark-blue:hsl(179, 100%, 13%);
    --color-p:hsla(0, 0%, 100%, 0.75);
    --color-bg-h:hsl(0, 0%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background:  var(--color-bg-h);
    color: var(--color-p);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

main{
    width: auto;
    height: auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

h1{
    color:(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 36px;
    margin:40px 0;
}

article{
    height: 500px;
    width: 307px;
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
}

article#Sedan{
    background: var(--color-orange);
}

article#Sedan button{
    color: var(--color-orange);
}

article#SUV{
    background: var(--color-blue);
}

article#SUV button{
    color: var(--color-blue);
}

article#Luxury{
    background: var(--color-dark-blue);
}

article#Luxury button{
    color: var(--color-dark-blue);
}

button{
    align-self: flex-end;
    width:150px;
    height: 48px;
    background: var(--color-bg-h);
    border: none;
    border-radius: 75px;
    font-size: 15px;
    cursor: pointer;
}

button:is(:hover,:active){
    border:2px solid var(--color-bg-h);
    background: none;
    color:var(--color-bg-h) !important;
}

@media screen and (max-width:1000px){
    body{
        width: 100%;
        height: auto;

    }
    main{
        flex-wrap: wrap;
        margin: 88px 25px;
    }
    article{
        width: 100%;
        height: 440px;
    }
    article#Sedan{
        border-top-right-radius:10px ;
    }
    article#Luxury{
        border-bottom-right-radius:10px ;
    }
}